
@{
    Layout = null;
}

<div class="col-sm-12 text-justify">
    <h2 class="heading text-center">Your Sitecore Sympoium Agenda</h2>
    <p style="margin-left:4px;">Looks complex? Stop by the Booth #411 to say hello to our team and get your personalized agenda.</p>
</div>
<div class="col-xs-12">
    <ul class="agenda-legend" data-agenda-list="" style="padding-left: 0;">
        <li class="agenda-legend__item agenda-legend__item--purple">
            <input type="checkbox" id="developer" value="Developer" checked />
            <label for="developer">Developer</label>
        </li>
        <li class="agenda-legend__item agenda-legend__item--blue">
            <input type="checkbox" id="marketing" value="Marketing" checked />
            <label for="marketing">Marketing</label>
        </li>
        <li class="agenda-legend__item agenda-legend__item--orange">
            <input type="checkbox" id="strategy" value="Strategy" checked />
            <label for="strategy">Strategy</label>
        </li>
        <li class="agenda-legend__item agenda-legend__item--gray">
            <input type="checkbox" id="theatre" value="Partner Theatre" checked />
            <label for="theatre">Partner Theatre</label>
        </li>
        <li class="agenda-legend__item agenda-legend__item--gray">
            <input type="checkbox" id="getStarted" value="Getting Started" checked />
            <label for="getStarted">Getting Started</label>
        </li>
    </ul>
</div>
<div class="col-xs-12 hidden-xs">
    <!-- <h4 class="agenda-tags__heading"> -->
    <!-- Tags:</h2> -->
    <ul id="result" class="agenda-tags" data-agenda-tags="" style="padding-left: 0;">
        <li class="agenda-tags__item" style="opacity: 0.58"><input type="checkbox" id="AB testing" value="AB testing"><label for="AB testing">AB testing [3]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.63"><input type="checkbox" id="architecture" value="architecture"><label for="architecture">Architecture [5]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.55"><input type="checkbox" id="automation" value="automation"><label for="automation">Automation [2]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.65"><input type="checkbox" id="azure" value="azure"><label for="azure">Azure [6]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.55"><input type="checkbox" id="best practices" value="best practices"><label for="best practices">Best practices [2]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.55"><input type="checkbox" id="campaigns" value="campaigns"><label for="campaigns">Campaigns [2]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.55"><input type="checkbox" id="campaings" value="campaings"><label for="campaings">Campaings [2]</label></li>
        <li class="agenda-tags__item" style="opacity: 1"><input type="checkbox" id="case study" value="case study"><label for="case study">Case study [20]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.78"><input type="checkbox" id="commerce" value="commerce"><label for="commerce">Commerce [11]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.55"><input type="checkbox" id="community" value="community"><label for="community">Community [2]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.6"><input type="checkbox" id="content" value="content"><label for="content">Content [4]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.6"><input type="checkbox" id="content management" value="content management"><label for="content management">Content management [4]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.63"><input type="checkbox" id="context marketing" value="context marketing"><label for="context marketing">Context marketing [5]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.73"><input type="checkbox" id="deployment" value="deployment"><label for="deployment">Deployment [9]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.75"><input type="checkbox" id="devop" value="devop"><label for="devop">DevOp [10]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.6"><input type="checkbox" id="engagement analytics" value="engagement analytics"><label for="engagement analytics">Engagement analytics [4]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.6"><input type="checkbox" id="engagement value" value="engagement value"><label for="engagement value">Engagement value [4]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.65"><input type="checkbox" id="enterprise" value="enterprise"><label for="enterprise">Enterprise [6]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.55"><input type="checkbox" id="frontend" value="frontend"><label for="frontend">Frontend [2]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.68"><input type="checkbox" id="future" value="future"><label for="future">Future [7]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.55"><input type="checkbox" id="helix" value="helix"><label for="helix">Helix [2]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.68"><input type="checkbox" id="integration" value="integration"><label for="integration">Integration [7]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.58"><input type="checkbox" id="IoT" value="IoT"><label for="IoT">IoT [3]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.6"><input type="checkbox" id="localization" value="localization"><label for="localization">Localization [4]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.68"><input type="checkbox" id="machine learning" value="machine learning"><label for="machine learning">Machine learning [7]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.65"><input type="checkbox" id="marketing" value="marketing"><label for="marketing">Marketing [6]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.6"><input type="checkbox" id="multilanguage" value="multilanguage"><label for="multilanguage">Multilanguage [4]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.93"><input type="checkbox" id="personalization" value="personalization"><label for="personalization">Personalization [17]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.73"><input type="checkbox" id="productivity" value="productivity"><label for="productivity">Productivity [9]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.65"><input type="checkbox" id="profiling" value="profiling"><label for="profiling">Profiling [6]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.55"><input type="checkbox" id="reports" value="reports"><label for="reports">Reports [2]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.78"><input type="checkbox" id="ROI" value="ROI"><label for="ROI">ROI [11]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.58"><input type="checkbox" id="scalability" value="scalability"><label for="scalability">Scalability [3]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.55"><input type="checkbox" id="search" value="search"><label for="search">Search [2]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.58"><input type="checkbox" id="security" value="security"><label for="security">Security [3]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.55"><input type="checkbox" id="segmentation" value="segmentation"><label for="segmentation">Segmentation [2]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.6"><input type="checkbox" id="setup" value="setup"><label for="setup">Setup [4]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.63"><input type="checkbox" id="SitecoreX" value="SitecoreX"><label for="SitecoreX">SitecoreX [5]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.65"><input type="checkbox" id="strategy" value="strategy"><label for="strategy">Strategy [6]</label></li>
        <li class="agenda-tags__item" style="opacity: 0.58"><input type="checkbox" id="sxa" value="sxa"><label for="sxa">SXA [3]</label></li>
        <li class="agenda-tags__item agenda-tags__item--clear">
            <a href="">show all</a>
        </li>
    </ul>


</div>
