<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
	  </settings>

    <pipelines>
      <initialize>
        <processor type="Sym17.Web.Pipelines.InitializeRecognizedVisitorTracker, Sym17.Web" />
      </initialize>
    </pipelines>
	</sitecore>
</configuration>
